@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&family=Raleway:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
:root{
    --primary_color: #13005A;
    --secondary_color: #3795BD;
    --extra_1: #810CA8;
    --extra_2: #F4F4F4;
    --extra_3: #FDFDFD;
    --family1: 'Playfair Display SC', serif;
    --family2: 'Raleway', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fefbfb;
}

/* hero-section */
.nav-bar{
    position: sticky;
    top: 0;
}
.desktop{
    display: none;
}
.mobile-nav{
    background-color: var(--primary_color);
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-nav .hamburger-menu{
    cursor: pointer;
}
.mobile-nav .hamburger-menu .line{
    width: 25px;
    height: 3px;
    background-color: var(--extra_3);
    margin: 5px 0;
    border-radius: 2px;
}
.mobile-logo{
    color: var(--extra_3);
    font-family: var(--family2);
}
.mobile-logo h1{
    padding: 0;
    margin: 0;
}
.off-canvas{
    width: 280px !important;   
}
.btn-close{
    background-color: white;
    margin-right: 8px;
}
.ls {
    list-style-type: none;
    row-gap: 20px;
    padding: 0;
}
.ls li{
    width: 100%;
    background-color: var(--secondary_color);
    padding: 10px 20px;
    border-radius: 3px;
    text-align: center;
}
.ls li a{
    color: var(--extra_3);
    font-size: 18px;
    font-family: var(--family2);
    text-decoration: none;
}
nav hr{
    display: none;
}

/* hero-section */
.hero-section{
    background-color: var(--primary_color);
    color: var(--extra_3);
}
.profile-pic img{
    width: 100%;
    object-fit: cover;  
}
.intro{
    padding: 10px;
}
.intro h1{
    font-family: var(--family2);
    font-weight: 700;
}
.intro h1 span{
    display: block;
    font-size: 1.3rem;
    /* font-family: var(--family1); */
}
.resume a{
    padding: 10px;
    padding-top: 8px;
    background-color: var(--secondary_color);
    border-radius: 3px;
    color: var(--extra_3);
    text-decoration: none;
    font-size: 1.2rem;
}


/* About */
.sec-heading{
    font-family: var(--family1);
    /* color: var(--secondary_color); */
    font-weight: 700;
    text-align: center;
}
.sec-heading div{
    background-color: var(--extra_1);
    height: 3px;
    margin: 0 auto 2px;
}
.sec-heading div:first-child{
    width: 125px;
}
/* .sec-heading div:last-child{
    width: 80px;
} */
.abt-content {
    background-color: var(--secondary_color);
    color: var(--extra_3);
    font-family: var(--family2);
    padding: 10px 0;
}
.side1{
    width: 60%;
    margin: 20px auto 0;
}
.side1 img{
    object-fit: cover;
    object-position: center;
}

/* skills */
.skills .sec-heading div:first-child{
    width: 80px;
}
/* .skills .sec-heading div:last-child{
    width: 80px;
} */
.flexBox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.tech-stack h3, .project h3{
    font-family: var(--family1); 
}
.tech{
    width: 35%;
}
.tech figcaption p{
    font-size: 23px;
    font-family: var(--family2);
    font-weight: 700;
}


/* Projects */
.project .sec-heading div:first-child{
    width: 114px;
}
.html-project{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.cards{
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: var(--extra_3);
    transition: 0.3s ease-in-out;
}
.cards:hover{
    box-shadow: 2px 1px 2px 1px rgb(165, 164, 164);
}
.card-img{
    border-bottom: 1px solid lightgray;
}
.card-img img{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.card-content{
    padding: 20px 10px;
}
.card-content h4{
    font-size: 1.4rem;
    font-weight: 600;
}
.card-content p{
    font-size: 1.1rem;
}
.btns{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px 0 0;
}
.btns a{
    background-color: #3795BD;
    padding: 10px 15px;
    color: var(--extra_3);
    text-decoration: none;
    border-radius: 3px;
}

.card-content h4, .card-content p, .btns a{
    font-family: var(--family2);
}

/* contact */
.contact{
    padding: 0 10px;
}
.contact .sec-heading div:first-child{
    width: 104px;
}
.contact-info{
    background-color: var(--secondary_color);
    color: var(--extra_3);
    padding: 10px 20px;
    border-radius: 5px;
}
.contact-info div:first-child p span:last-child, .contact-info:nth-child(2) p span:last-child a{
    font-size: 18px;
    font-family: var(--family2);
    color: var(--extra_3);
    /* text-decoration: none; */
}
.left-space{
    margin-left: 10px;
}
.contact-info div:nth-child(1) p span:first-child, .contact-info div:nth-child(2) p span:first-child, .contact-info div:nth-child(3) p span:first-child{
    font-size: 20px;    
}

/* footer */
.foot{
    min-width: 100%;
    background-color: #1a1818;
    padding: 30px 20px;
}
.foot .flexBox{
    align-items: flex-start;
}
.foot-about{
    color: var(--extra_2);
    font-family: var(--family2);
}
.foot-about p{
    line-height: 31px;
}
.foot-nav ul{
    color: var(--extra_2);
    padding-left: 15px;
    text-transform: uppercase;
}
.foot-nav ul li{
    line-height: 28px;
}
.foot-nav ul li a{
    color: var(--extra_2);
}
.foot-contact{
    color: var(--extra_2);   
}
.foot-contact p,.foot-contact address{
    margin-bottom: 8px;
    font-size: 17px;
}
.online-links{
    display: flex;
    justify-content: space-around;
    width: 23%;
    column-gap: 10px;
}
.online-links p{
    width: 45%;
}
.online-links p a i{
    font-size: 25px;
}

/* Media Queries */
@media screen and (min-width:411px) and (max-width: 430px) {
    .project-cards{
        padding: 0 35px;
    }
}

/* 575 size query */
@media screen and (min-width: 575px) {
    .sec-heading div:first-child{
        width: 135px;
    }
    .side1{
        width: 50%;
    }
    .side2 p{
        font-size: 1.12rem !important;
    }
    .flexBox{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .skills .sec-heading div:first-child {
        width: 88px;
    }
    .tech{
        width: 34%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .tech img{
        max-width: 70%;
    }
    .tech figcaption p{ 
        font-size: 20px;
    }
    .project .sec-heading div:first-child {
        width: 124px;
    }
    .cards{
        width: 66%;
    }
    .contact .sec-heading div:first-child {
        width: 115px;
      }
    .contact-info{
        width: 65%;
        margin: 0 auto;
    }
    .foot-nav{
        width: 20%;
    }
    .foot-contact{
        width: 50%;
    }
    .foot .flexBox{
        align-items: flex-start;
        justify-content: space-between;
    }
    .foot-nav ul{
        padding: 0;
        list-style-type: none;
    }
}

/* 768 screen size */
@media screen and (min-width: 768px) {
    .mobile-nav{
        background-color: #344850; 
    }
    .off-canvas{
        width: 360px !important;
    }
    nav hr{
        height: 3px;
        background-color: #bfbdae;
        margin: 0;
    }
    .hero-section{
        background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url("../images/hero-image.jpg");
        background-size: cover;
        padding-bottom: 0 !important;
        height: 48vh;
    }
    .hero-section .flex{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .flex .profile-pic{
        width: 45%;
        display: flex;
        justify-content: center;
    }
    .flex .intro{
        width: 49%;
    }
    .flex .profile-pic img{
        width: 300px;
        height: 300px;
        margin: 0 auto;
        border-radius: 50%;
        box-shadow: 7px 9px 14px whitesmoke;
    }
    .side1{
        width: 40%;
    }
    .tech{
        width: 30%;
    }
    .tech img{
        width: 60%;
    }
    .html-project{
        flex-direction: row;
        justify-content: space-around;
    }
    .cards{
        width: 41.66%;
    }
}

@media screen and (min-width:991.9px) {
    .mobile-nav{
        display: none
    }

    /* desktop navigation */
    .desktop{
        display: block;
        padding: 10px 20px;
        background-color: #344850;   
    }
    .desktop .flexBox{
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }
    .desktop-logo{
        width: 33%;
        color: var(--extra_2);
    }
    .desktop-nav{
        width: 60%;
    }
    .desktop-nav ul{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style-type: none;
        margin: 0;
    }
    .desktop-nav ul li a{
        text-decoration: none;
        color: var(--extra_2);
        font-size: 20px;
        font-family: var(--family2);
    }

    /* hero-section */
    .hero-section{
        height: 60vh;
    }
    .hero-section .flex{
        width: 86%;
        margin: 0 auto;
    }
    .resume a{
        background-color: #344850;
    }

    .main{
        max-width: 88%;
    }

    /* about-section */
    .abt-content{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px 20px;
    }
    .abt-content .side2{
        width: 59%;
    }

    /* skills */
    .tech{
        row-gap: 5px;
    }
    .tech img{
        width: 50%;
    }

    /* contact */
    .contact-info{
        transition: 0.6s ease-in-out;
    }
    .contact-info:hover{
        box-shadow: 3px 3px 2px rgb(49, 87, 85);
    }

    /* footer */
    .foot-about{
        width: 42%;
    }
    .foot-nav{
        width: 15%;
    }
    .foot-contact{
        width: 25%;
    }
    .online-links{
        width: 33%;
    }
}

@media screen and (min-width:1200px) {
    .desktop .flexBox{
        width: 80%;
    }
    .hero-section{
        height: 88vh;
    }
    .hero-section .flex{
        width: 80%;
    }
    .flex .profile-pic{
        width: 42%;
    }
    .flex .profile-pic img{
        width: 500px;
        height: 500px;
    }
    .flex .intro{
        width: 56%;
    }
    .intro h1{
        font-size: 3.5rem;
    }
    .intro h1 span{
        font-size: 2.3rem;
    }
    .resume a{
        padding: 10px 44px;
        font-size: 1.5rem;
    }
    .main{
        max-width: 80%;
    }

    /* about */
    .abt-content{
        padding: 20px 40px;
    }
    .side2 p{
        font-size: 1.21rem !important;
        font-weight: 500;
        line-height: 35px;
    }

    /* skills */
    .tech-stack .flexBox{
        row-gap: 18px;
    }
    .tech{
        background-color: aliceblue;
        padding: 20px 30px;
    }
    .tech img{
        width: 40%;
    }
    .tech figcaption p{
        margin: 0
    }
}